<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>RC - Bandito</title>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='index.js') }}"></script>
</head>
<body>
  <h1>RC - Bandito</h1>
  <button class="btn connect-btn" onclick="connectSerial()">🔌 Connetti Arduino</button>

  <div class="controller">
    <div></div>
    <button id="btn-up" class="btn" onclick="inviaComando('A')">▲</button>
    <div></div>

    <button id="btn-left" class="btn" onclick="inviaComando('S')">◀</button>
    <button id="btn-stop" class="btn" onclick="inviaComando('P')">⏹</button>
    <button id="btn-right" class="btn" onclick="inviaComando('D')">▶</button>

    <div></div>
    <button id="btn-down" class="btn" onclick="inviaComando('I')">▼</button>
    <div></div>
  </div>


  

 

  <div class="regole" onclick="cambia()">
    <ul id="grosso">
      <li>D: vai a destra</li>
      <li>W: vai avanti</li>
      <li>S: vai indietro</li>
      <li>A: vai  a sinistra</li>
      <li>Spazio: fermati</li>
      
    </ul>
  </div>
  

</body>
</html>
